html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #D8107E;
}

input:focus {
    border-color: blue;
    background-color: grey;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

table tr:nth-child(3) {
    background-color: aqua;
}

/*table tr:nth-child(odd) {   /*tutte le righe dispari*/
/*    background-color: aqua;
}*/

/*table tr:nth-child(even) {  /*tutte le righe dispari*/
/*    background-color: aqua;
}*/

thead tr {
    background-color: green;
}