body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    background-color: #ffffff;
}

header {
    background-color: white;
    background-image: url(http://picsum.photos/seed/picsum/1240/768);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
}

#site-header h1 {
    font-size: rem;
    font-weight: bold;
    font-style: italic;
}

.tagline {
    color: rgb(244, 74, 74);
    font-style: italic;
}

nav a {
    color: rgb(9, 155, 126);
    font-weight: bold;
    line-height: 3;
}

nav a:hover {
    color: rgb(163, 247, 66);
    background-color: rgb(245, 246, 241);
}

h2, h3 {
    font-size: 2em;
    color: hsl(220, 60%, 30%);
    text-align: left;
}

#chi-sono {
    background-color: #ffffff;
    text-align: justify;
}

#chi-sono p:first-of-type {
    font-size: 1.3em;
    font-style: italic;
    color: rgb(1, 18, 86);
}

.skill-list li:nth-child(odd) {
    background-color: rgb(208, 244, 231);
}

.skill-list li:nth-child(even) {
    background-color: rgb(255, 252, 196);
}

.skill-list li:first-child {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

th, td, caption {
    border: 1px solid; color: black;
}

.caption {
    background-color: rgb(186, 243, 245);
}

.container {
    display:inline;
}

.project:nth-of-type(odd) {
    background-color: rgb(210, 246, 247);
}

.project:nth-of-type(even) {
    background-color: rgb(136, 232, 176);
}

.funFacts, h4 {
    font-style: italic;
}

h4 {
    font-size: 1.2em;
    color: rgb(55, 145, 112);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

label {
    font-weight: bold;
    color: hsl(220, 60%, 30%);
}

input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    width: 60%;
    background-color: rgb(237, 255, 255);
}

input:focus, textarea:focus {
    background-color: rgb(164, 234, 234);
    color: rgb(164, 234, 234);
}

button {
    color: hsl(0, 0%, 98%);
    background-color: hsl(220, 49%, 27%);
    font-weight: bold;
    width: 30%;
}

button:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(219, 87%, 76%);
}

#site-footer {
    background-color: rgb(11, 30, 66);
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
}